<% provide(:title, 'ユーザー一覧') %>
<div class="container">
  <%= will_paginate %>

  <div class="user_index">
    <ul class="users">
    <% @users.each do |user| %>
      <%= render user %>
      <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    <% end %>
    </ul>
  </div>
  <div class="cd"></div>

  <%= will_paginate %>
</div>