<% provide(:title, 'ユーザー一覧') %>
<%= render "layouts/login_header" %>
<div class="container">
  <%= will_paginate %>

  <div class="user-index">
  <h1>Users</h1>
    <ul class="users">
      <%= render @users %>
    </ul>
  </div>

  <%= will_paginate %>
</div>