<header>
  <div class="container">
    <div class="header-left">
      <h2>E.Y.M</h2>
    </div>
    <div class="header-right">
      <a href="#" class="header-item">About</a>
      <%= link_to("新規登録",signup_path, {class: "signup"}) %>
    </div>
  </div>
</header>