@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top {
  width: 100%;
  height: 800px;
  background-image: url(https://cdn.learnenough.com/kitten.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top h1 {
  opacity: 0.9;
  font-size: 55px;
  letter-spacing: 5px;
  border:solid 5px #000;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.login {
  background-color: #00a0b0;
  margin-right: 10px;
}

.gest-login {
  background-color: #00a0b0;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.fa {
  margin-right: 5px;
}

/* header */
header {
  height: 60px;
  width: 100%;
  background-color: #e7e4db;
  position: fixed;
  top: 0;
  z-index: 10;
  opacity: 0.7;
}

/*.logo {
  width: 124px;
  margin-top: 20px;
}*/

.header-left {
  float: left;
  h2 {
    line-height: 25px;
    letter-spacing: .1em;
    -webkit-text-stroke:3px #E56758;
    text-shadow: 4px 4px 0 #498EE0;
  }
}

.header-right {
  float: right;
  transition: all 0.5s;
}

.header-item {
  line-height: 60px;
  padding: 0 25px;
  color: black;
}

.signup {
  line-height: 60px;
  padding: 0 25px;
  color: black;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background-color: #d7e9c3;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
  text-align: center;
}

footer {
  padding: 30px 0 20px 0;
}

/* signup-page */
.signup {
  height: auto;
  .signup_link {
    text-align: center;
    h1 {
      font-weight: bold;
      margin-top: 10px;
    }
  }
}
label {
  width: 100%;
  padding: 5px 0;
}
input {
  width: 50%;
  height: 40px;
}
@media (max-width: 1000px) {
  label {
    width: 100%;
  }
  input {
    width: 100%;
  }
}
.signup_btn {
  margin-top: 10px;
}



/* form */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: green;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}