@import "bootstrap-sprockets";
@import "bootstrap";
@import "simple_calendar";

/* form */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: green;
  }
}

label {
  width: 100%;
  height: 20px;
  padding: 5px 0;
  text-align:  center;
}

input {
  width: 50%;
  height: 40px;
  margin-left: 133px;
  margin-top: 5px;
}

.form-control {
  width: 400px;
  text-align: center;
  height: 40px;
  margin: auto;
}

.alert {
  text-align: center;
}

/* header */
header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  .header-left {
    float: left;
    .eym {
      line-height: 60px;
      letter-spacing: .1em;
      -webkit-text-stroke:3px #E56758;
      text-shadow: 4px 4px 0 #498EE0;
      font-size: 32px;
    }
  }
  .header-right {
    float: right;
    transition: all 0.5s;
    .header-item {
      line-height: 60px;
      padding: 0 25px;
      color: #E56758;
    }
    .signup-item {
      line-height: 60px;
      padding: 0 25px;
      color: #E56758;
    }
    .login-item {
      line-height: 60px;
      padding: 0 25px;
      color: #E56758;
    }
  }
}

.login-header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  .header-title {
    margin-left: 80px;
    float: left;
    .eym {
      line-height: 60px;
      letter-spacing: .1em;
      -webkit-text-stroke:3px #E56758;
      text-shadow: 4px 4px 0 #498EE0;
      font-size: 32px;
    }
  }
}

.top {
  width: 100%;
  height: 800px;
  background-image: image-url("home.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  .top-container {
    width: 100%;
    padding: 250px 15px;
    margin: 0 auto;
    h1 {
      opacity: 0.9;
      font-size: 55px;
      letter-spacing: 5px;
    }
    .botan {
      padding: 8px 24px;
      color: white;
      display: inline-block;
      opacity: 0.8;
      border-radius: 4px;
    }
    .botan:hover {
      opacity: 1;
    }
    .btn-wrapper {
      margin: 20px 0;
      .login {
        background-color: #00a0b0;
        margin-right: 10px;
      }     
      .gest-login {
        background-color: #00a0b0;
      }
    }
  }
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background-color: #d4dcd6;
}
/* footer */
.copyright  {
  padding: 30px 0 20px 0;
  border-bottom: 1px solid #b3aeb5;
  p {
  color: #b3aeb5;
  font-size: 12px;
  text-align: center;
  }
}

footer {
  height: 80px;
  width: 100%;
  font-size: 15px;
  background-color: #cf756b;
  ul.flex-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li.flex-item {
      flex: auto;
      width: 25%;
      margin-top: 30px;
    }
    a {
      text-align: center;
      display: block;
      color: white
    }
  }
}


/* signup-page */
.signup-page {
  height: 800px;
  h1 {
    text-align: center;
    margin-top: 150px;
  }  
  .signup-botan {
    background-color: #498EE0;
    margin: 20px 0 10px 175px;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    color: white;
  }
  .signup-botan:hover {
    opacity: 1;
  }
  .guest {
    margin-left: 270px;
  }
}

/* About */
.about-container {
  height: 600px;
  .about-main {
    text-align: center;
    margin-top: 120px;
  }
  .about-item {
    height: 300px;
    margin-top: 170px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 3px;
  }
}

/* login-pages */
.login-container {
  height: 800px;
  .login-link {
    margin-top: 100px;
    height: 500px;
    h1 {
      text-align: center;
    }
    p{
      text-align: center;
      margin-top: 10px;
    }
  }
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
    margin-top: 20px;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 68px;
  margin-top: 10px;
}

.login-botan {
  background-color: #498EE0;
  margin-left: 175px;
  margin-top: 20px;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  color: white;
  .login-botan:hover{
    opacity: 1;
  }
}

/* edit-page */

.edit-page {
  height: 800px;
  h1 {
    text-align: center;
    margin-top: 150px;
  }
  .edit-botan {
    background-color: #498EE0;
    margin-left: 175px;
    margin-top: 20px;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    color: white;
    .edit-botan:hover {
      opacity: 1;
    }
  }
}

/* users-page */
.user-index {
  height: 700px;
  margin-top: 130px;
  h1 {
    text-align: center;
  }
  .users {
    text-align: center;
    margin-top: 20px;
    list-style: none;
    .users-image img{
      height: 150px;
      width: 150px;
      margin-top: 20px;
      margin-right: 40px;
    }
    .users-content {
      margin-top: 10px;
      margin-right: 40px;
      font-size: 20px;
    }
  }
}

/* top-page */

.top-page {
  height: 800px;
}

.top-nav{
  border-bottom: 1px solid #ccc;
  }
  .top-nav ul{
    margin-top: 0;
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
  }
  .top-nav ul li{
    display: table-cell;
    min-width: 50px;
    border-right: 1px solid #ccc;
  }
  .top-nav ul li:first-child{
    border-left: 1px solid #ccc;
  }
  .top-nav ul li a{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: black;
  }
  .top-nav ul li a:hover{
    background-color: #97ba54;
    border-bottom: 5px solid #97ba54;
  }
  .top-nav ul li.current{
    font-weight: bold;
  }
  .top-nav ul li.current a{
    border-bottom: 5px solid #00B0F0;
    color: #00B0F0;
  }

  .top-main {
    height: 700px;
    background-image: image-url("top.jpg");
    background-size: cover;
  }

  /* instructor-page */
  .instructors{
    height: 800px;
    margin-top: 150px;
    .instructors-main {
      height: 500px;
      .instructors-left {
        height: 500px;
        width: 50%;
        float: left;
        .instructors-image {
          height: 500px;
          background-image: image-url("img.jpg");
          background-size: cover;
          border-radius: 50%;
          margin: 0 20px 20px 10px;
        }
      }
      .instructors-right {
        float: right;
        width: 50%;
        letter-spacing: 2px;
        font-family: monospace;
        .instructors-name {
          margin-top: 65px;
          text-align: left;
          span{
            font-size: 20px;
          }
        }
        .instructors-history {
          margin-top: 15px;
        }
      }
    }
    .instructors-bottom {
      height: 300px;
      width: auto;
    }
  }


  /* user-page */
  .user-page {
    height: 700px;
    text-align: center;
    .user-image {
      height: 370px;
      background-color:#b3aeb5;
      text-align: center;
      width: 370px;
      margin-left: 533px;
      margin-top: 120px;
      padding-top: 55px;
      border-radius: 50%;
    }
    .user-name {
      font-size: 50px;
      margin-top: 20px;
    }
  }

  .user-botan {
    background-color: #498EE0;
    margin-top: 20px;
    padding: 8px 24px;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    color: white;
    .user-botan:hover {
      opacity: 1;
    }
  }

  /* request */
  /* request-new */
  .request-page {
    height: 800px;
    text-align: center;
    background-image: image-url("request.jpg");
    background-size: cover;
    border: 1px solid white;
    h1 {
      text-align: center;
      margin-top: 150px;
    }
    #request-form-area {
      height: 150px;
      width: 500px;
    }
    .request-botan {
      background-color: #498EE0;
      margin: 10px 0 0 0;
      display: inline-block;
      opacity: 0.8;
      border-radius: 4px;
      color: white;
      height:40px;
      width: 500px;  
    }    
    .request-botan:hover {
      opacity: 1;
    }
    .requests_index_btn {
      display: inline-block;
      margin-top :30px; 
    }
  }

  /* request-show */
  .request-show {
    margin-top: 130px;
    height: 740px;
    text-align: center;
    .request-user {
      letter-spacing: 1px;
      h1 {
        font-size:40px;
      }
      h2{
        font-weight: 200;
        font-size: 20px;
        margin-bottom: 20px;
      }
      .show-content {
        margin-bottom:10px;
      }    
    }
  }

  /* request-index */
  .requests {
    margin-top: 30px;
  }

  .request-wrapper {
    width: 100%;
    height: auto;
    margin-top: 70px;
    h1 {
      font-weight: bold;
      margin-left: 38px;
    }
    a.btn-request {
      margin-left: 60px;
    }
    a.btn-comment {
      margin-left: 60px;
    }
    ul {
      li {
        border-bottom: 1px solid #EDEDED;
        display: block;
        .request_image img {
          width: 60px;
          height: 60px;
          float: left;
        }
        .requests_heading {
          display: inline-block;
          p.requests_user {
            font-weight: bold;
            margin-left: 5px;
            font-size: 100px;
          }
          p.requests_content {
            font-size: 15px;
            margin-left: 5px;
          }

          span.requests_time {
            color: gray;
          }
        }
      }
    }
  }

/* comment */
  #comment-form {
    height: 150px;
    width: 500px;
    margin-top: 10px;
  }

  .comment-botan {
    width: 500px;
    margin-right: 133px;
    display: inline-block;
    background-color: #498EE0;
    border-radius: 4px;
    color: white;
    opacity: 0.8;
  }

  .comment-botan:hover {
    opacity: 1;
  }

  .comment-area {
    display: inline-block;
    width: 50%;
  }
  @media (max-width: 1000px) {
    .comment_area {
      width: 100%;
    }
  }

  .comment-index {
    margin-left: 110px;
    margin-top: 10px;
    border: 3px solid #efefef;
    border-radius: 5px;
    height: 65px;
    width: 500px;
    img {
      width: 45px;
      height: 45px;
      float: left;
      margin-top: 7px;
    }
    .comment-name {
      font-size: 18px;
      float: left;
      margin-left: 8px;
      margin-top: 15px;
    }
    .comment-content {
      margin: 15px 0 0 135px; 
      font-size: 15px;
      float: left;
    }
    .date-time {
      font-size: 12px;
      color: #8f8f8f;
      float: right;
      margin: 40px 5px 0 5px;
    }
    .comment-delete {
      float: right;
      font-size: 12px;
      margin: 21px 5px 0 0;
    }
  }
  

  /* menu */
  /* new */
  .menu-page {
    text-align: center;
    height: 800px;
    width: 100%;
  }

  .menu-top h1 {
    margin-top: 150px;
  }

  .menu-botan {
    background-color: #498EE0;
    margin: 20px 0 10px 175px;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    color: white;
    margin: 20px 0 20px 0;
    width: 400px;
  }

  .menu-botan:hover {
    opacity: 1;
  }

  /* index */
  .menu-index {
    width: 100%;
    text-align: center;
    margin-top: 150px;
    display: inline-block;
  }

  .menu-name {
    padding-top: 20px;
  }

  .menu-list {
    height: 400px;
    margin-top: 30px;
    background-color:#b3aeb5;
  }

  .menu-description {
    padding-top: 50px;
    span {
      font-size: 20px;
    }
    .menu-lead {
      font-size: 20px;
      margin-top: 15px;
    }
    .menu-price {
      font-size: 20px;
      margin: 20px 0 30px 0;
    }
  }

  .menu-btn-link {
    margin-top: 10px;
  }

  .reiew-botan-menu {
    margin-right: 10px;
    .review-link{
      float: right;
      margin-left: 10px;
    }
    .menu-delete {
      float: right;
    }
  } 

  /* review */
  /* show */
  .menu-page {
    height: 800px;
    text-align: center;
    color: white;
    background-image: image-url("review.jpg");
    background-size: cover;
  }

  .menu-show {
    padding-top: 200px;
  }

  .review-botan {
    background-color: #498EE0;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    color: white;
    margin: 20px 0 20px 0;
    width: 400px;
  }

  .review-botan:hover {
    opacity: 1;
  }

  .review-confirm {
    color: white;
  }

  /* index */
  .menu-review-index-page {
    background-image: image-url("review_index.jpg");
    background-size: cover;
    border: 1px solid white;
    .menu-review-index {
      height: 800px;
      text-align: center;
      .menu-description-box {
        margin-top: 200px;
        margin-left: 300px;
        margin-right: 300px;
        border: 2px solid white;
      }
      .review-user-box {
        height:170px;
        margin-left: 300px;
        margin-right: 300px;
        border: 2px solid white;
        .user-name-box {
          margin-top: 10px;
          margin-bottom: 60px;
          span {
            font-size: 20px;
            font-family: bold;
          }
        }
      }
      .review-description-box {
        font-size: 15px;
      }
      .review-delete-btn {
        font-size: 12px;
      }
    }
  }

  /* reservation */
  /* new */
  .reservation-new {
    text-align: center;
    height: 450px;
    margin-top: 100px;
    margin-bottom: 70px;
    .reservation-form {
      margin-bottom: 20px;
    }
    .reservation-caution {
      color: red;
    }
    .caution-contents {
      color: red;
    }
    .field {
      margin-top: 20px;
    }
    .reservation-botan {
      background-color: #498EE0;
      display: inline-block;
      opacity: 0.8;
      border-radius: 4px;
      color: white;
      margin: 20px 0 20px 0;
      width: 400px;
    }
    .reservation-botan:hover {
      opacity: 1;
    }
  }

  /* index */
  .reservations-index {
    height: 600px;
    margin-top: 150px;
    .reservations {
      text-align: center;
    }
    .reservation-link {
      float: right;
      margin: 0 10px 0 0;
    }
  }

  /* simple-calender */
  .simple-calendar {
    text-align: center;
    height: 500px;
    .calendar-heading {
      font-size: 20px;
      margin-bottom: 40px;
    }
  }