<% provide(:title, "Instructor") %>
<div class="instructors">
  <div class="instructors-main">
    <div class="instructors-left">
      <div class="instructors-image">
      </div>
    </div>
    <div class="instructors-right">
      <div class="instructors-name">
        <h3>新見 晃司</h3>
        <span>DJ J3ek</span>
      </div>
      <div class="instructors-history">
        <span>〜経歴〜</span>
        <p class="lead">大学入学をきっかけに、DJ活動と音楽制作活動を始める。V2やWOMBなど東京の有名クラブ
        での出演実績もあり。
        </p>
        <span>〜出演実績〜</span>
        <p class="lead">LAUREL TOKYO(渋谷)、VISION(渋谷)、WOMB(渋谷)、MEZZO(六本木)、
        ESPLIT TOKYO(六本木)、V2 TOKYO(六本木)、ORIZURU(新宿)、
        </p>
        <span>〜スキル〜</span>
        <p class="lead">HTML, CSS, Ruby,Ruby on Rails, JavaScript, SQL, Rspec,
          Docker, Git, github, circleCi, AWS, heroku
        </p>
      </div>
    </div>
  </div>
  <div class="instructors-bottom">
  </div>
</div>
